@{
    ViewData["Title"] = "About The Project";
}

<br />
<br />
<h2><b>Proje Hakkında</b></h2>
<hr />
<h1><b><i class="fa fa-globe"></i>&nbsp;ASP.NET Core 2.1 ve EF Core ile MVC Code First Örnek Proje</b></h1>
<br />
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h4><b>Proje Hakkında</b></h4>
            <p>
                <ul>
                    <li>Veri tabanı olarak MSSQL  kullanıldı.</li>
                    <li>İlişkisel veri tabanı diyagramı oluşturuldu.</li>
                    <li>SQL işlemlerinde Entity Framework Core ORM aracı kullanıldı.</li>
                    <li> Bootstrap responsive bir tasarım ile Product ve Category sayfaları oluşturuldu.</li>
                    <li> ASP.NET Core 2.1 ve EF Core MVC CodeFirst kullanarak geliştirme yapıldı. </li>
                    <li>Proje Katmanlı Mimari ile Yapıldı</li>
                </ul>
            </p>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h4><b>Kullanılan Teknoloji &amp; Mimari</b></h4>
            <ul>
                <li>Katmanlı Mimari</li>
                <li>ASP.NET Core 2.1 ve EF Core MVC CodeFirst</li>
                <li>Entity Framwork Core</li>
                <li>.NET Core 2.1</li>
                <li>MS SQL</li>
                <li>Bootstrap Css Framework 4.3.1</li>
            </ul>
        </div>
        <div class="col-lg-6">
            <h4><b>Proje Katmanları</b></h4>
            <ul>
                <li>
                    AspDotNetCoreMvcProject   <small>(Solution)</small>
                    <ul>
                        <li>AspDotNetCoreMvcProject.DataAccess <small>(Veri Erişim Katmanı)</small></li>
                        <li>AspDotNetCoreMvcProject.Entities <small>(Databasedeki Tablolar (Varlıklar))</small></li>
                        <li>AspDotNetCoreMvcProject.MvcWebUI <small>(Web Sitesi)</small></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
